/*Global Elements*/
:root {
    /* primary colors */
    --DarkViolet: hsl(256, 26%, 20%);
    --GrayishBlue: hsl(216, 30%, 68%);
    /* neutral colors */
    --VeryDarkViolet: hsl(270, 9%, 17%);
    --DarkGrayishViolet: hsl(273, 4%, 51%);
    --VeryLightGray: hsl(0, 0%, 98%);
}
/*End of Global Elements*/
/*Global Selectors*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Karla', sans-serif;
}

.headings {
    font-weight: 700;
    font-family: 'DM Serif Display', serif;
    font-size: 60px;
    line-height: 65px;
}
.button {
    display: flex;
    border: 1px solid black;
    height: 42px;
    width: 148px;
    text-decoration: none;
    color: black;
    justify-content: center;
    align-items: center;
}



/* Specific target elements */


.header {
    border: 1px solid green;
    height: 80px;
}

.header nav {
    display: flex;
    justify-content: space-between;
    /* width: 77.0833%; */
    width: 1110px;
    margin: 20px auto;
    align-items: center;
    /* border: 1px solid black; */
}

.header nav .rhs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
}

.header nav .rhs .links a {
    text-decoration: none;
    color: var(--GrayishBlue);
    margin-right: 32px;
    text-transform: uppercase;
}
.header nav .rhs .links a:hover{
    font-weight: 700;
    color: var(--VeryDarkViolet);
}
 .button:hover{
    background-color: black;
    color: white;
    }
.header nav .rhs .links a:not(:last-child) {
    margin-right: 27px;
}


/* button specified in globals*/

.hero {
    height: 600px;
    background: var(--DarkViolet);
}

.hero .patterns .top-right {
    width: 436px;
    /* width: 30.2567%; */
    height: 515px;
    position: absolute;
    right: 0;
}

.hero .patterns .bottom-left {
    position: absolute;
    top: 510px;
    width: 195px;
    height: 504px;
    /* float: left; */
}

.hero .content {
    /* border: 1px solid yellow; */
    color: white;
    display: flex;
    /* padding-top: 140px; */
    padding-top: 106px;
    width: 77.0833%;
    /* width: 1110px; */
    margin: 0 auto;
}

.hero .content .about {
    width: 51.3465%;
    /* border: 3px dotted blue; */
}

.hero .content .about .hr {
    height: 2px;
    width: 152px;
    background: white;
    margin-bottom: 68px;
}

.hero .content .about p {
    margin-top: 25px;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
}

.hero .content .about a {
    margin-top: 33px;
    color: white;
    border-color: white;
    text-transform: uppercase;
}


/* .hero .content .about h1 {
    
} */

.hero .content .photo {
    width: 48.6535%;
    /* border: 3px dotted green; */
}

.hero .content .photo .fam-pic {
    width: 100%;
}
.hero .content .btn-hover:hover{
    background-color: white;
    color: black;
}

.were-different {
    width: 77.0833%;
    margin: 305px auto 0;
    color: black;

}

.were-different .hr {
    height: 2px;
    width: 152px;
    background: black;
    margin-bottom: 65px;
}

.were-different .sub-header{
    font-weight: 700;
    font-family: 'DM Serif Display', serif;
    font-size: 23px;
}
.were-different .flex{
    display: flex;
   margin-top: 55px;
}

.were-different #icon{
    background-color: var(--GrayishBlue);
    border-radius: 99.9%;
    color: white;
    padding: 1.2rem;
    margin-bottom: 1rem;
}
.how-we-work{
    width: 77.0833%;
    margin: 305px auto 0;
    background-color: var(--DarkViolet);
    border: 2px solid red;
}
.how-we-work .top-right{
    position: absolute;
    width: 436px;
    height: 515px;
    position: absolute;
    right: 0;
}
.how-we-work .div-content{
    display: flex;
    justify-content: space-between;
    margin: 3rem;
    color: white;
}